sonar.sourceEncoding=UTF-8

sonar.language=java
sonar.sources=src/main
sonar.java.binaries=./target
sonar.junit.reportsPaths=./target/surefire-reports
sonar.dynamicAnalysis=reuseReports

sonar.java.coveragePlugin=jacoco
sonar.jacoco.reportPaths=./target/jacoco.exec
sonar.projectKey={{CI_PROJECT_NAME}}:{{CI_COMMIT_REF_SLUG}}
sonar.projectName={{CI_PROJECT_NAME}}:{{CI_COMMIT_REF_SLUG}}
sonar.projectVersion={{APP_VERSION}}.{{CI_PIPELINE_IID}}


#sonar.exclusions=src/main/java/com/test/**/*
#sonar.coverage.exclusions=src/main/java/com/test/**/*
